.User {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.userOptions {
  display: flex;
  gap: 2rem;
}

.userOptions div {
  background-color: var(--color-1);
  padding: 2rem;
  cursor: pointer;
  border-radius: 1rem;
  font-style: 2rem;
  font-weight: bold;
  color: var(--color-4);
}

.userSection {
  background-color: #f7fada;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 2rem;
}
