:root {
  --color-5: #132a13;
  --color-4: #31572c;
  --color-3: #4f772d;
  --color-2: #90a955;
  --color-1: #ecf39e;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ubuntu sans-serif;
  font-size: 1.6rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: var(--color-5);
}

svg {
  fill: none;
  width: 2rem;
  height: 2rem;
  stroke-width: 1.5;
  stroke: #555;
  margin: 0.25rem;
}

ul {
  list-style: none;
}

.blur {
  text-decoration: line-through;
}

.rbl {
  border-left: 1rem solid red;
}

.gbl {
  border-left: 1rem solid green;
}

.obl {
  border-left: 1rem solid orange;
}

@media screen and (max-width: 830px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 730px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 665px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 530px) {
  html {
    font-size: 35%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 30%;
  }
}

.dragging {
  opacity: 0.5;
}

input {
  outline: none;
  border: none;
}
